<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head');%>
<body class="container">
    <%- include('../partials/header');%>
<main class="bg-tertiary-color">
    <div class="row d-flex aling-items-center">
        <div class="col-12 col-lg-6">
            <h1 class="py-3">
                Project 02/10
            </h1>
            <p class="py-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti, officia placeat commodi ratione ipsam aspernatur ad! Delectus ipsum dolor iusto in voluptatem eligendi, laboriosam accusantium id, dolorem corporis amet!
            </p>
        </div>
    </div>

</main>
    <%- include('../partials/footer');%>
</body>
</html>